<!DOCTYPE>
<html>
  <head>
  </head>
  <body>
    <% posts.forEach(function(post) {%>
      <%= post.dataValues.content %><br/>
      <%= post.dataValues.createdAt %><br/>
      <%= authors[post.dataValues.authorId].dataValues.name %><br/>
      <br/>
    <% }) %>
  </body>
</html>