<!DOCTYPE>
<html>
  <head>
  </head>
  <body>
  <h1>Submit Your Blog Post!</h1>
      <form method="post" action="/newpost">
	      <input type="text" placeholder="Title" name="title">
	      <select name="authors">
		    <option name="one"   value="1"> F. Scott Fitzgerald </option>
			<option name="two"   value="2"> Ernest Hemingway </option>
			<option name="three" value="3"> Harpur Lee </option>
			<option name="four"  value="4"> Jane Austen </option>
			<option name="five"  value="5"> John Steinback </option>
		  </select>
		  <br/>		  
		  <br/>
		  <b>enter content here</b><br/>
	      <input type="text"  name="content" style="width:300px; height:100px;">
	     <br/>
	     <br/>
		<button>Submit</button> 
	   </form>
  </body>
</html>